<div class="table" style="width: 100%; height: 100%;" ng-controller="mainController" ng-keypress="keyPress($event)">
    <div class="row" style="height: 100%;">
        <div class="cell">
            <div data-split-pane>
                <div data-split-pane-component>
                    <div data-split-pane>
                        <div data-split-pane-component data-width="20em" style="height: 100%">
                            <div style="width: 100%; height: 100%;">           
                                <entity-tree connection="connection" selected-entities="selectedEntities" on-open="openEntity(entity)"/>
                            </div>
                        </div>
                        <div data-split-pane-divider data-width="0px"></div>
                        <div data-split-pane-component>
                            <div data-split-pane>
                                <div data-split-pane-component style="overflow: hidden; background-color: #151515;">
                                    <ul class="nav nav-tabs">
                                        <li ng-repeat="tab in editor.tabs">
                                            <div ng-class="(editor.currentTab === tab) ? 'btn-primary btn-bordered' : 'btn-secondary btn-bordered'" class="btn" ng-click="editor.currentTab = tab">
                                                            {{tab.$$invalidated ? '*' : ''}}{{tab.Name}}
                                                        <a class="tab-close" ng-click="closeEntity(tab)" style="margin-left: 5px;"><i class="im im-x-mark"></i></a>
                                            </div>
                                            
                                        </li>
                                    </ul>
                                    <div ng-repeat="tab in editor.tabs" ng-show="editor.currentTab === tab" style="width: 100%; height: calc(100% - 40px); border-left: 1px solid #111; border-right: 1px solid #111;" ng-include="getEditorTemplate(tab)"/>
                                </div>
                                <div data-split-pane-divider data-width="0px"></div>
                                <div data-split-pane-component data-width="20em" style="overflow-y: auto;">
                                    <property-editor connection="connection" selected-entities="selectedEntities"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-split-pane-divider data-height="0px"></div>
                <div data-split-pane-component data-height="20em">
                    <div style="height: calc(100% - 22px);">
                            <log-viewer connection="connection" selected-entities="selectedEntities"/>
                    </div>
                    <div class="nav bg-dark" style="width: 100%; height: 22px;">
                        <div class="col-4">{{connection.isConnected ? ('Connected to: ' + connection.endpoint) : 'Connecting to ' + connection.endpoint + '...'}}</div>
                        <div class="col-2">
                            <select ng-model="statsComponent" ng-options="component as component.Name for component in connection.getComponentList(connection.getComponentUuid('Component'))"></select>
                        </div>
                        <div class="col-2">
                            Count: {{connection.getComponentList(statsComponent.Uuid).length}}
                        </div>

                        <div class="col-2">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     