.tree-node {
    /* prevent user selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* default */
    
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    color: #bbb;
}

.tree-node:hover {
    background-color: #333;
}

.tree-node.selected {
    background-color: #444;
    color: #fff;
}

.tree-node-element {
    display: inline-block; 
    line-height:20px; 
    vertical-align: top;
}

.invalidated {
    color: #ff625d;
}

.saved {
    color: #97c4ff;
}

.icon-white {
    color: #fff;
}

.icon-cyan {
    color: rgb(131, 182, 240);
}

.icon-blue {
    color: #6af;
}

.icon-red {
    color: #b44;
}

.icon-orange {
    color: #c85;
}
.icon-yellow {
    color: #fd5;
}

.icon-green {
    color: #7d7;
}