.component-header {
    background-color: #455570;
    padding: 4px 4px 4px 4px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.component-header:hover {
    background-color: #556580;
}
.component-header:active {
    background-color: #354560;
}

.property-container .table {
    table-layout: fixed;
}

.property-container .table .row .label {
    padding: 4px 8px 4px 8px;
    text-align: right;
    direction: rtl;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 30%; /* Shrink label cell to allow more editor space */
}

.property-container .table .value {
    padding: 1px 0px 0px 0px;
}

.property-container .table .row .value .editor {
    width: 100%;
}