<div style="width: 100%; height: 100%; overflow: auto;">
    <div ng-if="connection.selectedEntity">
        <div ng-repeat="componentName in filteredComponents" ng-hide="collapsedComponents.includes(componentName)">
            <div class="component-header">
                {{componentName}}
            </div>
            <div class="property-container">
                <div class="table">
                    <div class="row" ng-repeat="property in connection.properties[componentName]" ng-if="property.PropertyKind <= 2">
                        <div class="cell label">
                            {{property.Name.replace(componentName,'').prettify()}}
                        </div>
                        <div class="cell value">
                            <input class="form-control" ng-if="property.PropertyType == 'StringRef'" ng-model="connection.selectedEntity[property.Name]" ng-change="apply()"/>
                            <input class="form-control" type="number" ng-if="property.PropertyType[0] == 'u' || property.PropertyType[0] == 's'" ng-model="connection.selectedEntity[property.Name]" ng-change="apply()"/>
                            <input class="form-control" type="number" ng-if="property.PropertyType == 'float' || property.PropertyType == 'double'" ng-model="connection.selectedEntity[property.Name]" ng-change="apply()"/>
                            <button style="width: 100%;" class="btn" ng-class="connection.selectedEntity[property.Name] ? 'btn-success' : 'btn-disabled'" ng-if="property.PropertyType == 'bool'" ng-click="connection.selectedEntity[property.Name] = !connection.selectedEntity[property.Name]; apply()">{{connection.selectedEntity[property.Name].toString()}}</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center" ng-if="!connection.selectedEntity" style="display: table; width: 100%; height: 100%; color: #353535;">
        <h1 style="display: table-cell; vertical-align: middle; user-select: none; font-weight: 200;">No entity selected</h1>
    </div>
</div>
